+++
title = '''TH eNews All


preheader = '''

header_enews_title = '''Insider
header_enews_date = '''23 พฤศจิกายน 2558
header_enews_text = '''ในฉบับนี้<br/>ฟอร์ด เอเวอเรสต์ ใหม่ | คืนพิเศษกับฟอร์ด เอเวอเรสต์ ใหม่ | โปรแกรมบริการช่วยเหลือฉุกเฉิน 24 ชั่วโมง | ฟอร์ด เรนเจอร์ ใหม่ | เคล็ดลับขับขี่ปลอดภัยตลอดช่วงเทศกาล | วิธีใช้ SYNC™ 2 | มอเตอร์ เอ็กซ์โป 2015 | ทดสอบความแกร่ง

header_logo_image = '''black
header_logo_url = '''"http://www.ford.com.au/"

cover_13_black_title = '''สร้างมาเพื่อเป็นที่หนึ่ง
cover_13_black_copy = '''ฟอร์ด เอเวอเรสต์ ใหม่ พร้อมให้คุณเป็น<span style='white-space:nowrap;'>เจ้าของ</span>แล้ว ชมการทดสอบ <span style='white-space:nowrap;'>ฟอร์ด</span> <span style='white-space:nowrap;'>เอเวอเรสต์ </span>ใหม่ <span style='white-space:nowrap;'>ตลุยออฟโรด</span>ในหลายพื้นที่ <span style='white-space:nowrap;'>ทั้งใน</span><span style='white-space:nowrap;'>ภูมิประเทศ</span>ที่มี<span style='white-space:nowrap;'>ความสวยงาม</span><span style='white-space:nowrap;'>ระดับโลก</span>และพื้นที่กันดาร<span style='white-space:nowrap;'>สุดโหด</span>
cover_13_black_cta_text = '''ชมวิดีโอที่นี่
cover_13_black_cta_url = '''""

image_banner_image = '''mustang_20160328
image_banner_url = '''""

split_green_imgl_copyl_ctaicon_title = '''ท้าทุกสถานการณ์
split_green_imgl_copyl_ctaicon_text = '''<span style='white-space:nowrap;'>ฟอร์ด เรนเจอร์</span> <span style='white-space:nowrap;'>ฉลาดและแกร่งกว่าเคย </span> <span style='white-space:nowrap;'>สร้างมาเพื่อรองรับ</span> <span style='white-space:nowrap;'>ทุกความ</span>ท้าทาย <span style='white-space:nowrap;'>มาทำความรู้จัก</span> <span style='white-space:nowrap;'>ที่สุด</span>ของ<span style='white-space:nowrap;'>รถกระบะ</span>และเทคโนโลยี<span style='white-space:nowrap;'>อันชาญฉลาด</span> <span style='white-space:nowrap;'>ที่ทำให้เรนเจอร์</span> <span style='white-space:nowrap;'>เป็นที่หนึ่ง</span>
split_green_imgl_copyl_ctaicon_cta_text = '''ชมวิดีโอที่นี่
split_green_imgl_copyl_ctaicon_cta_url = '''""
split_green_imgl_copyl_ctaicon_image = '''tms_20160328

split_darkblue_imgl_copyl_ctaicon_title = '''มอเตอร์ เอ็กซ์โป 2015
split_darkblue_imgl_copyl_ctaicon_text = '''มาพบกันได้ที่บูธฟอร์ดในงาน<span style='white-space:nowrap;'>มหกรรมยานยนต์</span> <span style='white-space:nowrap;'>ครั้งที่ 32</span> <span style='white-space:nowrap;'>ที่ อิมแพค </span> <span style='white-space:nowrap;'>ชาเลนเจอร์ 2</span> <span style='white-space:nowrap;'>ในวันที่ 2-13</span> <span style='white-space:nowrap;'>ธันวาคมนี้</span>
split_darkblue_imgl_copyl_ctaicon_cta_text = '''ข้อมูลเพิ่มเติม
split_darkblue_imgl_copyl_ctaicon_cta_url = '''""
split_darkblue_imgl_copyl_ctaicon_image = '''loan_car_20160328

split_lightblue_imgr_copyl_ctaicon_title = '''สร้างมาเพื่อศักยภาพที่<span style='white-space:nowrap;'>เหนือระดับ</span>
split_lightblue_imgr_copyl_ctaicon_text = '''เราได้ทำการทดสอบรถฟอร์ดจนถึง<span style='white-space:nowrap;'>ขีดสุด</span> เพื่อให้มั่นใจว่ารถ<span style='white-space:nowrap;'>ฟอร์ด</span> สามารถ<span style='white-space:nowrap;'>รับมือ</span>และทนต่อสภาวะ<span style='white-space:nowrap;'>การขับขี่</span>สุดโหดได้<span style='white-space:nowrap;'>ทุกมุมโลก </span> <span style='white-space:nowrap;'>มาชม</span> 30 <span style='white-space:nowrap;'>บททดสอบ</span>สุดโหดภายใน <span style='white-space:nowrap;'>90 วินาที</span>กัน!
split_lightblue_imgr_copyl_ctaicon_cta_text = '''ชมวิดีโอที่นี่
split_lightblue_imgr_copyl_ctaicon_cta_url = '''""
split_lightblue_imgr_copyl_ctaicon_image = '''mustang_20160328

footer_social_text = '''"<a href='<%unsubscribe_link_text%>' target='_blank' style='color:#91A4B1; text-decoration:underline'>Click here</a> to Unsubscribe from future e-mails from Ford.<br>Copyright © Ford Sales and Services (Thailand) Co., Ltd.<br><br>ถ้าพบปัญหาในการแสดงอีเมลนี้ <span class='mobile-display-block'></span><a name='online_link' href='<%syslink_message_read url=&#39;/public/read_message.jsp&#39;%>' style='color:#91A4B1; text-decoration:underline; font-size:12px;'>แสดงในรูปแบบเว็บไซต์</a>"
footer_social_twitter_url = '''"https://twitter.com/FordThailand/"
footer_social_facebook_url = '''"https://th-th.facebook.com/FordThailand/"
+++

<%= partial "modules/#{lang}/head" %>

<%= partial "modules/#{lang}/header/enews" %>
<%= partial "modules/#{lang}/header/logo" %>
<%= partial "modules/#{lang}/cover/13/black" %>
<%= partial "modules/#{lang}/image/banner" %>
missing module
<%= partial "modules/#{lang}/split/green_imgl_copyl_ctaicon" %>
missing module
<%= partial "modules/#{lang}/split/darkblue_imgl_copyl_ctaicon" %>
<%= partial "modules/#{lang}/split/lightblue_imgr_copyl_ctaicon" %>
missing module
<%= partial "modules/#{lang}/footer/social" %>

<%= partial "modules/#{lang}/foot" %>