+++
title = '''TH Welcome First 001 Irene


preheader = '''

image = '''lightblue
url_link = '''http://google.com

image = '''driving_skills_20160328
url_link = '''http://google.com

cover_06_darkblue_title = '''Darkblue Title
cover_06_darkblue_copy = '''Sản phẩm " Bảo Hành mở rộng" sẽ giúp bạn yên tâm tận hưởng cùng chiếc xe của mình, không còn phải lo chi phí sửa chữa, thay thế kể cả khi đã hết bảo hành tiêu chuẩn. <br/> Thời gian bảo hành được mở rộng thêm tối đa 2 năm / 40 000 KM tùy điều kiện nào đến trước ngay khi hết bảo hành tiêu chuẩn. Ngoài ra quyền bảo hành mở rộng được phép chuyển nhượng sẽ làm tăng giá trị bán lại chiếc xe của bạn.
cover_06_darkblue_cta1_text = '''FIND OUT MORE
cover_06_darkblue_cta1_url = '''http://www.ford.com.ph/cars/focus/
cover_06_darkblue_cta2_text = '''Explore Focus
cover_06_darkblue_cta2_url = '''http://www.ford.com.ph/cars/focus/
cover_06_darkblue_icon = '''live_chat

+++

<%= partial "modules/#{lang}/head" %>

<%= partial "modules/#{lang}/header/logo" %>
<p style="text-align = '''center;">Some Missing Module</p>
<%= partial "modules/#{lang}/image/banner" %>
<%= partial "modules/#{lang}/cover/06/darkblue" %>

<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<%= partial "modules/#{lang}/footer/th/online" %>

<%= partial "modules/#{lang}/foot" %>