+++
title = '''TH Welcome First 001 Ranger New


preheader = '''

image = '''lightblue
url_link = '''http://google.com

image = '''cashback_20160328
url_link = '''http://google.com
+++

<%= partial "modules/#{lang}/head" %>

<%= partial "modules/#{lang}/header/logo" %>
<p style="text-align = '''center;">Some Missing Module</p>
<%= partial "modules/#{lang}/image/banner" %>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<%= partial "modules/#{lang}/footer/th/online" %>

<%= partial "modules/#{lang}/foot" %>