+++
title = '''TH Welcome First 001 Ranger New


preheader = '''

header_logo_image = '''lightblue
header_logo_url = '''http://google.com

image_banner_image = '''cashback_20160328
image_banner_url = '''http://google.com
+++

<%= partial "modules/#{lang}/head" %>

<%= partial "modules/#{lang}/header/logo" %>
<p style="text-align = '''center;">Some Missing Module</p>
<%= partial "modules/#{lang}/image/banner" %>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<%= partial "modules/#{lang}/footer/th/online" %>

<%= partial "modules/#{lang}/foot" %>