+++
title = '''TH Welcome First 001 Sophia


preheader = '''

image = '''lightblue
url = '''http://google.com

split_01_white_title = '''สิทธิพิเศษสำหรับ <br/> ลูกค้าฟอร์ด
split_01_white_copy = '''ลูกค้าฟอร์ด รับทันที ส่วนลดเพิ่ม 10,000 บาท เมื่อซื้อรถยนต์ฟอร์ดคันต่อไป ทุกรุ่น นี่เป็นอีกหนึ่งในหลายเหตุผลที่ คุณจะเลือกฟอร์ดอีกครั้ง ข้อเสนอนี้มี ถึงวันที่ 31 สิงหาคม 2559 เท่านั้น
split_01_white_cta_text = '''ดูเพิ่มเติม
split_01_white_cta_url = '''http://www.ford.co.th/loyaltyprogram2016
split_01_white_cta_icon = '''play
split_01_white_image = '''ecoboost_20160328

image_banner_image = '''cashback_20160328
image_banner_url = '''http://google.com
+++


<%= partial "modules/#{lang}/head" %>

<%= partial "modules/#{lang}/header/logo" %>
<p style="text-align = '''center;">Some Missing Module</p>
<%= partial "modules/#{lang}/image/banner" %>
<%= partial "modules/#{lang}/split/01/white" %>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<%= partial "modules/#{lang}/footer/th/online" %>

<%= partial "modules/#{lang}/foot" %>