+++
title = '''IN Repurchase 001 James


preheader = '''

image = '''lightblue
url_link = '''http://google.com

image = '''cashback_20160328
url_link = '''http://google.com

title = '''Lightblue Title
copy = '''Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
cta_text = '''Click me!
cta_url = '''http://google.com
icon = '''ew

title = '''White Title
copy = '''Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
cta_text = '''Click me!
cta_url = '''http://google.com
icon = '''ew

footer_in_5icons_icon1_image = '''dealers_20160401
footer_in_5icons_icon2_image = '''ford_credit_20160401
footer_in_5icons_icon3_image = '''ford_assured_20160401
footer_in_5icons_icon4_image = '''customer_care_number_20160401
footer_in_5icons_icon5_image = '''rsa_no_20160401
+++

<%= partial "modules/#{lang}/head" %>

<%= partial "modules/#{lang}/header/logo" %>
<%= partial "modules/#{lang}/image/banner" %>
<p style="text-align = '''center;">Some Missing Module</p>
<p style="text-align = '''center;">Some Missing Module</p>
<%= partial "modules/#{lang}/cover/05/lightblue" %>
<%= partial "modules/#{lang}/cover/05/white" %>
<%= partial "modules/#{lang}/footer/in/5icons" %>
<%= partial "modules/#{lang}/footer/in/social" %>
<%= partial "modules/#{lang}/footer/in/online" %>

<%= partial "modules/#{lang}/foot" %>