+++
title: IN Repurchase 001 Star
layout: standard

preheader: testing mega exchnage offer 

header_logo_image: lightblue
header_logo_url: http://google.com

image_banner_image: megaexchange_20160414
image_banner_url: http://ford.com.au/

cover_05_lightblue_title: Exchange 
cover_05_lightblue_copy: Upgrade to our award winning cars - Ford Aspire or the Next-Gen Ford Figo - and get an incredible exchange bonus of  up to ₹25000*, free insurance and a loyalty bonus. on purchase of Ford Figo Aspire and the next generation Ford Figo.<br><br>Upgrade to our award winning cars - Ford Aspire or the Next-Gen Ford Figo - and get an incredible exchange bonus of  up to ₹25000*, free insurance and a loyalty bonus. on purchase of Ford Figo Aspire and the next generation Ford Figo.
cover_05_lightblue_cta_text: FIND OUT MORE
cover_05_lightblue_cta_url: http://www.india.ford.com/offers
cover_05_lightblue_icon: cta_play_lightblue

cover_05_white_title: Live Chat 
cover_05_white_copy: Ford Live Chat is now online! Get real-time answers, from a team of Ford Advisors, between 9am to 8pm. Just click on the link below to start your conversation.
cover_05_white_cta_text: START CHATTING  
cover_05_white_cta_url: https://ford-livechat.s3ae.com/in/chat.php?a=1e4b8&intgroup=c3VwcG9ydA__&hg=Pw__&hcgs=MQ__&htgs=MQ__
cover_05_white_icon: ew

footer_in_5icons_icon1_image: dealers_20160401
footer_in_5icons_icon2_image: ford_credit_20160401
footer_in_5icons_icon3_image: ford_assured_20160401
footer_in_5icons_icon4_image: customer_care_number_20160401
footer_in_5icons_icon5_image: rsa_no_20160401
+++

<%= partial "modules/#{lang}/head" %>

<%= partial "modules/#{lang}/header/logo" %>
<%= partial "modules/#{lang}/image/banner" %>
<p style="text-align: center;">Some Missing Module</p>
<p style="text-align: center;">Some Missing Module</p>
<%= partial "modules/#{lang}/cover/05/lightblue" %>
<%= partial "modules/#{lang}/cover/05/white" %>
<%= partial "modules/#{lang}/footer/in/5icons" %>
<%= partial "modules/#{lang}/footer/in/social" %>
<%= partial "modules/#{lang}/footer/in/online" %>

<%= partial "modules/#{lang}/foot" %>