+++
title: AU eNews 6m-2y 001
layout: standard

preheader: The Ford Insider has got a fresh look and feel. Check it out to learn how you can get a free loan car.

header_enews_title: Insider
header_enews_date: Dec. 14, 2015
header_enews_text: IN THIS ISSUE<br/>What's the Angle? | Free Loan Car | Taming the Terrain

header_logo_image: black
header_logo_url: "http://www.ford.com.au/"

image_banner_image: selfie_angle_20160328
image_banner_url: "http://digitalsnippets.ford.com/2014/12/selfies-and-wing-mirrors-whats-the-angle/"

cover_11_black_text: Hi <if condition="#IsNull(Personalisation)#">there<elseif condition="#Personalisation=''#">there<else>#Personalisation#<endif></endif></else></elseif></if>,<br/><br/>Welcome to the revamped and re-launched Ford newsletter&#058; The Insider! As part of the Ford family, you'll get the latest promotions, news and tips tailored just for you. We hope you enjoy our all-new look and feel newsfeed and are inspired to Go Further!

cover_13_black_title: What's the Angle?
cover_13_black_copy: Whether you're taking a selfie or taking the long way home, the right angles are important. Check out this quick tutorial on finding the optimal angles for your wing and rear-view mirrors.
cover_13_black_cta_text: FIND YOUR ANGLE
cover_13_black_cta_url: "http://digitalsnippets.ford.com/2014/12/selfies-and-wing-mirrors-whats-the-angle/"
cover_13_black_cta_icon: more

split_darkblue_imgr_copyl_ctaicon_title: Free Loan Car
split_darkblue_imgr_copyl_ctaicon_text: Ford is the only car brand to give you access to book a free loan car with any scheduled service right around the country.&#185; But what if your neighbourhood dry cleaner had the same idea?
split_darkblue_imgr_copyl_ctaicon_cta_text: SEE WHAT HAPPENS
split_darkblue_imgr_copyl_ctaicon_cta_url: "https://www.facebook.com/FordAustralia/videos/10153665755188747"
split_darkblue_imgr_copyl_ctaicon_cta_icon: play
split_darkblue_imgr_copyl_ctaicon_image: loan_car_20160328

split_green_imgl_copyl_ctaicon_title: Taming the Terrain
split_green_imgl_copyl_ctaicon_text: Sand, rock, mud and of course road&#058; The tech behind Everest's advanced Terrain Management System means you can tackle any tricky ground at the turn of a dial.&#178;
split_green_imgl_copyl_ctaicon_cta_text: CHECK THE TECH
split_green_imgl_copyl_ctaicon_cta_url: "https://www.youtube.com/watch?v=h0CkNZyjtFE"
split_green_imgl_copyl_ctaicon_cta_icon: play
split_green_imgl_copyl_ctaicon_image: tms_20160328

footer_disclaimer_text: DISCLAIMERS&#058;<br/><br/>1. Available at participating dealers scheduled services or overnight warranty repairs. Private and Blue, Silver and Gold Business Fleet customers only. Booking may be required see <a href="http://www.ford.com.au/service/t-and-c" style="color:#91A4B1; text-decoration:underline">http://www.ford.com.au/service/t-and-c</a> for full terms.<br/><br/>2. To activate Rock mode the vehicle must be stationary and in 4x4 low range.
+++

<%= partial "modules/#{lang}/head" %>

<%= partial "modules/#{lang}/header/enews" %>
<%= partial "modules/#{lang}/header/logo" %>
<%= partial "modules/#{lang}/cover/black_copyc" %>
<%= partial "modules/#{lang}/cover/13/black" %>
<%= partial "modules/#{lang}/image/banner" %>
<%= partial "modules/#{lang}/spacer/platinum_20" %>
<%= partial "modules/#{lang}/split/darkblue_imgr_copyl_ctaicon" %>
<%= partial "modules/#{lang}/split/green_imgl_copyl_ctaicon" %>
<%= partial "modules/#{lang}/spacer/platinum_20" %>
<%= partial "modules/#{lang}/cover/owner_app/imgr/black" %>
<%= partial "modules/#{lang}/footer/disclaimer" %>
<%= partial "modules/#{lang}/footer/au/social" %>
<%= partial "modules/#{lang}/footer/au/online" %>

<%= partial "modules/#{lang}/foot" %>