+++
title: TH Repurchase 001 Sophia
layout: standard

preheader: 

header_logo_image: lightblue
header_logo_url: http://google.com

cover_07_black_title: Black Title
cover_07_black_copy: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
cover_07_black_cta_text: Click me!
cover_07_black_cta_url: http://google.com

cover_03_black_title: Black Title
cover_03_black_copy: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
cover_03_black_cta_text: Click me!
cover_03_black_cta_url: http://google.com
cover_03_black_cta_icon: play

image_banner_image: cashback_20160328
image_banner_url: http://google.com

split_01_white_title: White Title
split_01_white_copy: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
split_01_white_cta_text: Click me!
split_01_white_cta_url: http://google.com
split_01_white_cta_icon: play
split_01_white_image: tms_20160328
+++

<%= partial "modules/#{lang}/head" %>

<%= partial "modules/#{lang}/header/logo" %>
<%= partial "modules/#{lang}/cover/07/black" %>
<p style="text-align: center;">Some Missing Module</p>
<p style="text-align: center;">Some Missing Module</p>
<p style="text-align: center;">Some Missing Module</p>
<%= partial "modules/#{lang}/cover/03/black" %>
<%= partial "modules/#{lang}/image/banner" %>
<%= partial "modules/#{lang}/split/01/white" %>
<p style="text-align: center;">Some Missing Module</p>
<p style="text-align: center;">Some Missing Module</p>
<p style="text-align: center;">Some Missing Module</p>
<%= partial "modules/#{lang}/footer/th/online" %>

<%= partial "modules/#{lang}/foot" %>