+++
title = '''Th Anniversary Ranger


preheader = '''

header_logo_image = '''black
header_logo_url = '''"http://www.ford.com.au/"

image_banner_image = '''mustang_20160328
image_banner_url = '''""

footer_social_text = '''"<a href='<%unsubscribe_link_text%>' target='_blank' style='color:#91A4B1; text-decoration:underline'>Click here</a> to Unsubscribe from future e-mails from Ford.<br>Copyright © Ford Sales and Services (Thailand) Co., Ltd.<br><br>ถ้าพบปัญหาในการแสดงอีเมลนี้ <span class='mobile-display-block'></span><a name='online_link' href='<%syslink_message_read url=&#39;/public/read_message.jsp&#39;%>' style='color:#91A4B1; text-decoration:underline; font-size:12px;'>แสดงในรูปแบบเว็บไซต์</a>"
footer_social_twitter_url = '''"https://twitter.com/FordThailand/"
footer_social_facebook_url = '''"https://th-th.facebook.com/FordThailand/"
+++

<%= partial "modules/#{lang}/head" %>

<%= partial "modules/#{lang}/header/logo" %>
header content
<%= partial "modules/#{lang}/image/banner" %>
free offer<br>
some other offer
<%= partial "modules/#{lang}/footer/social" %>

<%= partial "modules/#{lang}/foot" %>